
/*mj stylesheet*/
html {
  background-image: url(images/hiking-the-sand-dunes.jpg)
}
aside.more-info img {
  width: 400px;
  height: auto;
}
h1 {
  font-size: 400px;
}
.body {
    font-family: serif;
    h1, h2, h3; sans-serif;
}
.for {
  line-height: 3.0;
}
ul {
  list-style-type: none;
}
.poem {
  list-style-type: none;
  line-height: 1.5; 
}
.poem {
  font-size: 18px;
}
#content {
  background-color: whitesmoke;
  width: 450px;
  border: 70px: 
  padding: 60px;
  margin: 60px;
}
.



            
