
/*mj stylesheet*/
html {
  background-image: url("images/hiking-the-sand-dunes.jpg");
}
aside.more-info img {
  width: 400px;
  height: auto;
}
h1, h2, h3 {
  font-size: 30px;
}
body {
    font-family: serif;
}
ul {
  list-style-type: none;
}
.poem {
  list-style-type: none;
  line-height: 1.5;
  font-size: 18px;
}
#content {
  background-color: whitesmoke;
  width: 450px;
  border: 70px; 
  padding: 60px;
  margin: 60px;
}




            
